## .NET files
*.exe
*.dll
*.pdb
*.so
*.dylib

## Folders
bin/
obj/
.vs/
.vscode/

## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## IDE files
.idea/
*.swp
*.swo

## OS
.DS_Store
Thumbs.db

## Logs
logs/
*.log

## Database
clinica_san_manotas_backup.sql
